<div >
    <h1 ng-click="stuff()">Events</h1>
    <hr/>
    <ul class="thumbnails">
        <li ng-repeat="event in events" class="span5">
            <div class="well hoverwell" ng-click="navigateToDetails(event)">
                <div class="row"><span class="span6"><h2>{{event.name}}</h2></span></div>
                <div class="row"><span class="span1">Date:</span><span>{{event.date}}</span></div>
                <div class="row"><span class="span1">Time:</span> <span>{{event.time}}</span></div>
                <div class="row"><span class="span1">Location:</span> <span>{{event.location.address}}</span></div>
                <div class="row"><span class="span1">&nbsp;</span> <span>{{event.location.city}}, {{event.location.province}}</span></div>
            </div>
        </li>
    </ul>
</div>
