<div id="me">
    <script type="text/javascript">console.log('{{event}}');</script>
    <img data-ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
    <div class="eventName"><h2>{{event.name}}</h2></div>
    <div class="eventLabel">Date:</div><div class="eventDetail">{{event.date}}</div>
    <div class="eventLabel">Time:</div> <div class="eventDetail">{{event.time}}</div>
    <div class="eventLabel">Location:</div> <div class="eventDetail">{{event.location.address}}</div>
    <div class="eventLabel">&nbsp;</div> <div class="eventDetail">{{event.location.city}}, {{event.location.province}}</div>
    <a href="/events/1/sessions/new">New Session</a>
</div>
