<div id="me">
    <img data-ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>

    <div class="row">
        <div class="span11">
            <h2>{{event.name}}
                <button type="button" class="btn" ng-show="allowUserToEditEvent()" ng-click="editEvent()">Edit</button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div><strong>Date:</strong> {{event.date}}</div>
            <div><strong>Time:</strong> {{event.time}}</div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong><br/>
                {{event.location.address}}<br/>
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>

    </div>
    <button type="button" style="margin-top:25px" class="btn btn-primary" ng-click="createNewSession(event.id)">Create
        New Session
    </button>

    <hr/>

    <h3>Sessions</h3>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions" class="span11">
            <div class="row" style="height:110px;">
                <div class="span0 well" style="height:100%;">
                    <div style="padding-left:8px; margin-top:20px; cursor:pointer;" ng-click="upVoteSession(session)">
                        <i class="icon-chevron-up icon-white"></i>
                    </div>
                    <div class="badge badge-inverse">
                        <div>25</div>
                    </div>
                    <div style="padding-left:8px; cursor:pointer;" ng-click="downVoteSession(session)">
                        <i class="icon-chevron-down"></i>
                    </div>
                </div>
                <div class="well span9" ng-click="navigateToDetails(event)" style=" height:100%; overflow: hidden;">
                    <h4>{{session.name}} <button type="button" class="btn" ng-show="allowUserToEditSession(session)" ng-click="editSession(session)" style="margin-left:10px;">Edit</button></h4>
                    <h6 style="margin-top:-10px;"><a href="/viewProfile/{{session.creator}}">{{session.creatorName}}</a></h6>
                    <span>Duration: {{getDuration(session.duration)}}</span>

                    <p>{{session.abstract}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
