<div >
    <h1>Events</h1>
    <hr/>
    <ul class="thumbnails">
        <li ng-repeat="event in events" class="span5">
            <div class="thumbnail" style="padding-left:25px;">
                <div class="row"><span class="span6"><h2><a href="/event/{{event.id}}">{{event.name}}</a></h2></span></div>
                <div class="row"><span class="span1">Date:</span><span>{{event.date}}</span></div>
                <div class="row"><span class="span1">Time:</span> <span>{{event.time}}</span></div>
                <div class="row"><span class="span1">Location:</span> <span>{{event.location.address}}</span></div>
                <div class="row"><span class="span1">&nbsp;</span> <span>{{event.location.city}}, {{event.location.province}}</span></div>
            </div>
        </li>
    </ul>
</div>
