<div id="me">
    <img data-ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
    <div class="row">
        <div class="span11"><h2>{{event.name}}</h2></div>
    </div>
    <div class="row">
        <div class="span3">
            <div><strong>Date:</strong> {{event.date}}</div>
            <div><strong>Time:</strong> {{event.time}}</div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong><br />
                {{event.location.address}}<br />
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>

    </div>
    <button type="button" style="margin-top:25px" class="btn btn-primary" ng-click="createNewSession(event.id)">Create New Session</button>

    <hr />

    <h3>Sessions</h3>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions" class="span11">
            <div class="well" ng-click="navigateToDetails(event)">
                <h4>{{session.name}}</h4>
                <div class="row">
                    <span class="span3">Duration: {{getDuration(session.duration)}}</span>
                </div>
                <p>{{session.abstract}}</p>
            </div>
        </li>
    </ul>
</div>
